group: travis_lts
language: generic

cache:
  apt: true
  directories:
    - /usr/local/Cellar

jobs:
  include:
  - os: linux
    env:
      - DOCKER_FILE="bionic_melodic"
      - dUSER="lorem"
      - dGROUP="lorem"
      - dUID=1001
      - dGID=1001
      - dDRIVE="/mnt/"
      - dWORKSPACE="/home/lorem/ws/"
    services: docker

script:
  - if [ -n "$DOCKER_FILE" ]; then
      docker-compose build;
      docker-compose up -d;
    fi
